<div class="px-4 py-3 my-5 text-center">
  <h1 class="display-5 fw-bold">Bienvenue sur Sing Those Words!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-3">Enfin voici mon app Rails (en MVPP)! Design très douteux possédant un front-end vous agressant la rétine!</p>
    <p class="lead mb-3"><span class="fw-bold text-warning">Sing Those Words</span> est une app vous permettant de choisir vos chansons afin d'apprendre le <span class="fw-bold">vocabulaire</span> que vous voulez (1 <span class="fw-bold">langue</span>: anglais) avec plus de... 23 <span class="fw-bold">musiques</span>!</p>
    <p class="lead mb-3">Le <span class="fw-bold">score</span> de la chanson vous donne combien de fois chaque mot est répété.</p>
    <p>Pour m'envoyer retours, commentaires, cliquez sur le <%= link_to "Sondage", home_pages_ask_path %>.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to "Sing Those Words!", freq_dictionaries_path, class:"btn btn-dark text-warning px-4 gap-3" %>
      <%= link_to "Sondage", "https://forms.gle/ebLGBfzxKhUdmnT4A", class:"btn btn-outline text-dark px-4 gap-3" %>
    </div>
  </div>
</div>
