<div class="px-5 py-3">
    <h1> Toutes les questions que <span class="fw-bold text-warning">vous</span>  vous posez! (ou pas)</h1>
<p></p>
    <h3> Il <span class="fw-bold text-warning">manque</span> plein de trucs sur cette app non? </h3>
    
    <p> Tout à fait! Il y avait une version précédente sur ton terminal, et maintenant avec Rails sur internet!</p> 
    

    <h3> Elle est très moche cette app, est ce que tu peux faire mieux niveau <span class="fw-bold text-warning">design</span>?</h3>
    
    <p> Tout à fait! Comme la version est avec ce que je connais, sachant que je n'aime pas trop le frontend, voilà ce que ça donne. </p>
    <p> Donc pour l'instant je fais passer l'apparence à la trappe...</p> 


    <h3> Où sont les autres <span class="fw-bold text-warning">langues</span>?</h3>
    
    <p> C'est une bonne remarque, l'anglais comme base, parce que:
    <ul>
        <li>la majorité des chansons sont en anglais</li>
        <li>je parle l'anglais (s'il y a des fautes c'est assez facile de rectifier le tir)</li>
        <li>et c'est la langue LV1 pour une majorité de gens non?</li>
    </ul>
    <p>Ce n'est qu'une base, mais si l'app plaît... Il faut me le faire savoir (la page <%= link_to "Sondage", "https://docs.google.com/forms/d/e/1FAIpQLSf2qWW_4nxVM9MjfAeZhtnEWyGERzK9w46oXOGX2sviZmJb3A/viewform?usp=pp_url", class:"text-dark" %> par exemple ;) )</p>

    <h3>Et les autres features? 23 <span class="fw-bold text-warning">musiques</span>, aucune autre fonctionnalité, là c'est inutile non?</h3>

    <p>Tu n'as pas tort, par contre il faut bien commencer quelque part.</p>
    <p>Sur le principe si l'idée te plaît (voir ne te plaît pas), note la <%= link_to "ici", "https://docs.google.com/forms/d/e/1FAIpQLSf2qWW_4nxVM9MjfAeZhtnEWyGERzK9w46oXOGX2sviZmJb3A/viewform?usp=pp_url", class:"text-dark" %>.</p>

    <h3>Bon sang j'ai plein d'<span class="fw-bold text-warning">idées</span>, aurais-tu un contact ?</h3>
    
    <p> Bonne idée! Suis le lien <%= link_to "Sondage", "https://docs.google.com/forms/d/e/1FAIpQLSf2qWW_4nxVM9MjfAeZhtnEWyGERzK9w46oXOGX2sviZmJb3A/viewform?usp=pp_url", class:"text-dark" %>, tu peux y mettre des idées à la fin ;)</p>
    
    <h3>Purée ce <span class="fw-bold text-warning">jaune</span> mis comme ça, <span class="fw-bold text-warning">STOP</span>!</h3>
    <p> <span class="fw-bold text-warning text-decoration-underline">Non</span> :3</p>
</div>

