<div class="px-5 py-3">
    <h1> Toutes les questions que vous vous posez!</h1>

    <h3> Il manque plein de trucs sur cette app non? </h3>
    <ul>
        <li> Tout à fait! Il y avait une version précédente sur ton terminal, et maintenant avec Rails sur internet!</li> 
    </ul>

    <h3> Elle est très moche cette app, est ce que tu peux faire mieux niveau design?</h3>
    <ul>
        <li> Tout à fait! Comme la version est avec ce que je connais, sachant que je n'aime pas trop le frontend, voilà ce que ça donne.</li>
        <li> Donc pour l'instant je fais passer l'apparence à la trappe...</li> 
    </ul>

    <h3> Où sont les autres langues?</h3>
    <ul>
        <li> C'est une bonne remarque, l'anglais comme base, parce que la majorité des chansons sont en anglais, je parle l'anglais (s'il y a des fautes c'est assez facile de rectifier le tire), et c'est la langue LV1 pour une majorité de gens non?.</li>
    </ul>

    <h3>Bon sang j'ai plein d'idées, aurais-tu un contact ?</h3>
    <ul>
        <li> Bonne idée! Suis le lien <%= link_to "Sondage", "https://docs.google.com/forms/d/e/1FAIpQLSf2qWW_4nxVM9MjfAeZhtnEWyGERzK9w46oXOGX2sviZmJb3A/viewform?usp=pp_url", class:"text-dark" %>, tu peux y mettre des idées à la fin ;)</li>
    </ul>
</div>

