<footer class="justify-content-between border-top border-warning position-relative-bottom ">
  <div class="row text-center py-2">
    <span class="col text-muted py-2"> @alegar.ch 2022</span>
    <a class="col" href="<%= root_path %>"><span > <%= render "layouts/svg"%></span></a>
    <span class="col py-2"><%= link_to "Questions", home_pages_questions_path , class:"nav-link px-2 text-muted"%></span>

  </div>
</footer>
