<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom border-warning">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <div class="container">

      <%= render "layouts/svg" %>
      <span class="fs-4">Sing Those Words</span>

    </div>

  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><%= link_to "Home", root_path, class:"nav-link active text-bg-dark text-warning" %></li>
    <li class="nav-item"><%= link_to "Sing Those Words!", freq_dictionaries_path, class:"nav-link text-dark" %></li>
    <li class="nav-item"><%= link_to "Sondage", home_pages_ask_path, class:"nav-link text-dark" %></li>

  </ul>
</header>
