<div class="navbar header center">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Sing Those Words</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"> <%= link_to "Home", root_path, class:"pure-menu-link" %> </li>
            <li class="pure-menu-item"> <%= link_to "Sing Those Words!", freq_dictionaries_path, class:"pure-menu-link" %> </li>
            <li class="pure-menu-item"> <%= link_to "Questions", home_pages_questions_path, class:"pure-menu-link" %> </li>
        </ul>
    </div>
</div>
